@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<style>
    body {
        background: linear-gradient(180.2deg, rgb(30, 33, 100) 6.8%, rgb(15, 98, 110) 131%);
    }
</style>
